// Couleurs
$black: #0B132A;
$grey: #303E67;
$white: #ffffff;

$title           : 'Rubik', sans-serif;
$text            : 'Rubik', sans-serif;

$body            : #F8FDFE;
$mediumWhite     : #f8fdfe;
$red             : #ff4949;
$green           : #09d333;
$lightBlue       : #33d1ff;
$blueGradient    : linear-gradient(to right, #00a5ff 0%, #33d1ff 99%);

// Shadow
$whiteShadow     : 0 10px 35px -10px rgba(255, 255, 255, 0.5);
$darkblueShadow  : 0 25px 65px 0 rgba(100, 233, 255, 0.15);
$mediumblueShadow: 0 10px 55px -15px rgba(55, 161, 178, 0.5);
$blueShadow      : 0 10px 55px 0 #92f0ff;

// Radius
$radius-xl       : 50px;
$radius-l        : 40px;

// Typo
$XXLsize     : 50px;
$XLsize      : 40px;
$Lsize       : 30px;
$Msize       : 20px;
$Ssize       : 16px;
$XSsize      : 13px;

// Cta
$ctasize     : 10px 25px;

// Weight
$thin        : 100;
$light       : 300;
$regular     : 400;
$medium      : 500;
$semiBold    : 600;
$bold        : 700;
$extrabold   : 900;

// Percent
$P100        : 100%;
$P90         : 90%;
$P80         : 80%;
$P70         : 70%;
$P60         : 60%;
$P50         : 50%;
$P40         : 40%;
$P30         : 30%;
$P20         : 20%;
$P15         : 15%;
$P10         : 10%;
$P5          : 5%;
$P3          : 3%;
$P2          : 2%;
$P1          : 1%;
$P05         : .5%;
$P0          : 0%;

// View Height
$V100        : 100vh;
$V90         : 90vh;
$V80         : 80vh;
$V70         : 70vh;
$V60         : 60vh;
$V50         : 50vh;
$V40         : 40vh;
$V30         : 30vh;
$V20         : 20vh;
$V15         : 15vh;
$V10         : 10vh;
$V5          : 5vh;
$V3          : 3vh;
$V2          : 2vh;
$V1          : 1vh;
$V05         : .5vh;
$V0          : 0vh;

// Conteneur
$conteneur   : 90%;

// Shadow
$shadow      : 2px 2px 3px 0 rgba(46, 50, 60, 0.10);
$mediumshadow: 0 20px 25px 0 rgba(27, 33, 69, 0.10);

// Radius
$radius      : 5px;

// Responsive 
$tablette    : 800px;
$mobile      : 400px;