@import "../helpers/variables.scss";
@import "../modules/mixines.scss";

.cta-full {
    color: $black;
    background-color: $white;
    padding: 3% 35px;
    font-family: $title;
    letter-spacing: 1px;
    text-decoration: none;
    border-radius: $radius-xl;
    -webkit-border-radius: $radius-xl;
    -moz-border-radius: $radius-xl;
    -ms-border-radius: $radius-xl;
    -o-border-radius: $radius-xl;
    box-shadow: $white;
}

.cta-gradient{
    margin-top: $V3;
    @include typoCta ($Ssize, $white, $white, 1rem 2.5rem, #00C6FF, center, $radius);
    background: $white;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to bottom, #00C6FF, #0072FF);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00C6FF, #0072FF); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}