@import "../helpers/variables.scss";

#home {
    position: relative;
    z-index: 10;
    box-shadow: $blueShadow;
    height: 100vh;

    .pr {
        position: relative;
    }

    #filter {
        position: absolute;
        top: 0%;
        left: 0%;
        width: 100%;
        z-index: 0;
        opacity: .5;
        background-color: #003449;
        //background-color: red;
        height: 100vh;
    }

    #video {
        position: absolute;
        width: 100vw;
        height: 100vh;
        object-fit: cover;
        left: 0px;
        top: 0px;
        z-index: -1;
    }

    header {
        margin-top: 10vh;

        .cta {
            font-family: $text;
            font-size: 13px;
            font-weight: normal;
            font-stretch: normal;
            font-style: normal;
            line-height: normal;
            letter-spacing: normal;
            color: $white;
            opacity: 1;
            padding-right: 2%;
        }
    }

    .full {
        height: 90vh;
    }

    h1 {
        font-family: $title;
        color: $white;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        padding-bottom: 3%;
    }

    p {
        font-family: $text;
        color: $white;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 25px;
        letter-spacing: normal;
        margin-bottom: 3vh;
        z-index: 0;

        span {
            font-weight: bold;
        }
    }

    a:hover {
        color: $grey;
        transition-duration: .2s;
    }

    .cta-full {
        padding-top: 3%;
        padding-right: 15px;
        padding-bottom: 3%;
        padding-left: 35px;
        color: #003449;
        margin-bottom: 5vh;
        transition: all 0.5s ease;
    }

    img {
        width: 100%;
    }

    @media screen and (min-width: 200px) and (max-width: 768px) {
        header a {
            display: block;
            margin-bottom: 2%;
        }
    }
}

#home .cta-full:hover::after {
    transition: all 0.5s ease;
    width: 70px;
}

@media screen and (min-width: 200px) and (max-width: 768px) {
    #home .cta-full:hover::after {
        transition: all 0.5s ease;
        width: 50px;
    }
}