@import "../helpers/variables.scss";

#informations {
    position: relative;
    overflow-x: hidden !important;
    overflow: hidden;
    background-color: $white;

    .container {
        padding-left: 0px;
        padding-right: 0px;
    }

    h2 {
        font-family: $title;
        font-size: 25px;
        font-stretch: normal;
        font-style: normal;
        line-height: normal;
        letter-spacing: normal;
        text-align: left;
        color: $black;
        margin-bottom: 6%;
    }

    p {
        font-family: $text;
        font-size: 16px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 25px;
        letter-spacing: normal;
        color: $grey;
    }

    span {
        position: absolute;
        top: 0%;
        left: 50%;
        width: 2px;
        height: 1000vh;
        z-index: 0;
        opacity: .2;
        border-left: 2.5px dashed #a1d1da;
        border-right: 2.5px dashed #a1d1da;
        transform: translate(-50%, -50%);
        -webkit-transform: translate(-50%, -50%);
        -moz-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        -o-transform: translate(-50%, -50%);
    }

    .row {
        margin-top: 15vh !important;

        &:last-child {
            margin-bottom: 15vh !important;
        }
    }

    .picto {
        width: 30%;
    }

    .illustration {
        width: 100%;
    }

    .row {
        margin: 0% 0%;
    }

    @media screen and (min-width: 200px) and (max-width: 1200px) {
        .picto {
            width: 40%;
        }

        p {
            font-size: 12px;
        }
    }

    @media screen and (min-width: 200px) and (max-width: 768px) {
        .picto {
            width: 20%;
            padding-top: 5vh;
            padding-bottom: 5vh;
        }

        .row {
            margin-top: 25vh !important;

            &:last-child {
                margin-bottom: 25vh !important;
            }
        }
    }
}