@import "../helpers/_variables.scss";
@import "../modules/mixines.scss";

header {
    height: 100px;
    background: -webkit-linear-gradient(to bottom, #00C6FF, #0072FF);
    /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to bottom, #00C6FF, #0072FF);
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    box-shadow: $mediumshadow;
}

#main-lp {
    background-color: $white;
    margin-bottom: $V5;

    .illu {
        padding: 10% 0%;
    }

    a {
        margin-top: $V3;
        @include typoCta ($Ssize, $white, $white, 1rem 2.5rem, #00C6FF, center, $radius);
        background: $white;
        /* fallback for old browsers */
        background: -webkit-linear-gradient(to bottom, #00C6FF, #0072FF);
        /* Chrome 10-25, Safari 5.1-6 */
        background: linear-gradient(to bottom, #00C6FF, #0072FF);
        /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    }

    #presentation {
        padding: $P3;
        border-radius: $radius;
        -webkit-border-radius: $radius;
        -moz-border-radius: $radius;
        -ms-border-radius: $radius;
        -o-border-radius: $radius;
        box-shadow: 0 3px 30px 0 rgba(0, 0, 0, 0.16);

        h2,
        h3,
        p {
            text-align: center;
        }

        h2 {
            margin-top: $V5;
            margin-bottom: $V5;
        }

        h3 {
            font-size: $Msize;
            margin-top: $V3;
            margin-bottom: $V0;
        }
    }
}