$primaryColor: #0072FF;

.map-container {
    height: 100vh;
}

.sidebar--top {
    background-color: rgba(35, 55, 75, 0.9);
    color: #ffffff;
    padding: 6px 12px;
    font-family: monospace;
    z-index: 1;
    position: absolute;
    top: 0;
    left: 0;
    margin: 12px;
    border-radius: 4px;
}

#fly {
    display: block;
    position: relative;
    margin: 0px auto;
    width: 50%;
    height: 40px;
    padding: 10px;
    border: none;
    border-radius: 3px;
    font-size: 12px;
    text-align: center;
    color: #fff;
    background: #ee8a65;
    cursor: pointer;
}

.flex-center {
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-center.left {
    left: 0px;
}

.flex-center.right {
    right: 0px;
}

#map {
    position: absolute;
    top: 0;
    bottom: 0;
    width: 100%;
}

.sidebar {
    position: fixed;
    top: 0;
    right: 0px;
    transition: transform 1s;
    z-index: 1;
    width: 400px;
    height: 100vh;
    transform: translateX(0);
    &.collapsed {
        transform: translateX(445px);
    }
    .sidebar-content {
        position: absolute;
        top: 15px;
        width: calc(100% - 15px);
        height: calc(100% - 30px);
        border-radius: 10px;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        overflow-y: auto;
        scroll-behavior: smooth;
        background: #fff;
        scroll-snap-type: y mandatory;
        box-shadow: 0 0 0 2px #0000001a;
        .events {
            position: relative;
            &.opened {
                .event {
                    padding: 25px;
                    padding-top: 55px;
                    min-height: calc(100vh - 30px);
                    .description {
                        margin-top: 15px;
                        height: inherit;
                    }
                    .badge {
                        top: 52px;
                    }
                }
            }
            &:not(.opened) {
                .event {
                    cursor: pointer;
                    &:hover {
                        &>* {
                            transform: translateX(5px);
                        }
                    }
                }
            }
            .arbo {
                position: fixed;
                top: 15px;
                margin: 10px;
                width: calc(100% - 50px);
                box-shadow: 0 0 0 2px rgba(0,0,0,.1);
                border-radius: 10px;
                font-size: 16px;
                padding: 5px 10px;
                z-index: 5;
                background: #fff;
                .link {
                    color: $primaryColor;
                    cursor: pointer;
                    &:hover {
                        text-decoration: underline;
                    }
                }
            }
            .event {
                scroll-snap-align: start;
                position: relative;
                border-bottom: 1px solid #ccc;
                color: #555;
                padding: 15px 25px 15px 25px;
                transition: all .3s ease;
                opacity: 0;
                transform: translateY(-10px);
                &:nth-child(2) {
                    padding: 55px 25px 15px 25px;
                    .badge {
                        top: 52px;
                    }
                }
                * {
                    line-height: 16px;
                    transition: all .3s ease;
                }
                .date {
                    color: #aaa;
                    font-size: 12px;
                    margin-top: 6px;
                }
                .description {
                    font-size: 14px;
                    height: 0;
                    overflow: hidden;
                    &>span {
                        display: block;
                        color: $primaryColor;
                        cursor: pointer;
                        margin-top: 10px;
                        text-decoration: underline;
                    }
                }
            }
            .event.notHide {
                transition: all .3s ease;
                opacity: 1;
                transform: translateY(0);
            }
        }
    }
}

.badge {
    position: absolute;
    right: 25px;
    height: 22px;
    top: 12px;
    width: max-content;
    background: $primaryColor;
    color: #fff;
    border-radius: 11px;
    font-size: 12px;
    line-height: 22px;
    padding: 0 15px;
    &.Mémorable {
        background: #e84393;
    }
    &.Exceptionnel {
        background: #e74c3c;
    }
    &.Remarquable {
        background: #e67e22;
    }
    &.Notable {
        background: #2ecc71;
    }
    &.Anecdotique {
        background: #00cec9;
    }
    &.Non_défini {
        background: #636e72;
    }
}

.sidebar-toggle {
    position: absolute;
    width: 40px;
    height: 40px;
    border-radius: 5px;
    overflow: visible;
    display: flex;
    justify-content: center;
    align-items: center;
    left: -50px;
    top: 0;
    bottom: 0;
    margin: auto;
    background: #fff;
    cursor: pointer;
    border: 1px solid #ccc;
    .chevron {
        height: 16px;
        transition: transform .3s ease;
        transform: rotate(180deg);
    }
}
.collapsed {
    .chevron {
        transform: rotate(0);
    }
}

.pins {
    height: 100px;
    width: 100px;
    animation: pulse 1.25s infinite cubic-bezier(0.66, 0, 0, 1);
    box-shadow: 0 0 0 0 #0072FF80;
    background-size:cover;
    background-repeat: no-repeat;
    border-radius: 50%;
    opacity: 0;
    transition: height .3s ease, width .3s ease, opacity .3s ease;
    @keyframes pulse {
        to {
            box-shadow: 0 0 0 15px #0072FF00;
        }
    }
    &>span {
        color: white;
        position: absolute;
        right: 0;
        left: 0;
        top: 0;
        bottom: 0;
        line-height: 40px;
        text-align: center;
        transition: all .3s ease;
    }
}
.pins.notHide {
    opacity: 1;
    height: 40px;
    width: 40px;
    cursor: pointer;
    transition: height .3s ease, width .3s ease, opacit .3s ease;
    &:hover {
        height: 50px;
        width: 50px;
        &>span {
            line-height: 50px;
        }
    }
}

#charts_map {
    position: fixed;
    left: 20px;
    bottom: 15px;
    width: calc(100vw - 440px);
    z-index: 9999;
    transform: translateX(calc(-100vw + 400px));
    transition: transform .3s ease;
    &.notHide {
        transform: translateX(0);
    }

    canvas {
        background-color: #fff;
        box-shadow: 0 0 0 2px #0000001a;
        border-radius: 10px;
        padding: 10px;
    }
}

.mapboxgl-ctrl-top-right {
    right: auto;
    left: 15px;
    top: 5px;
}

@media (max-width: 850px) {
    .sidebar {
        bottom: 40px;
        top: auto;
        right: 0;
        width: 100vw;
        height: 200px;
        &.collapsed {
            transform: translateY(345px);
        }
        .sidebar-content {
            bottom: 0;
            right: 15px;
            width: calc(100% - 30px);
            height: calc(100% - 15px);
            .events {
                .event {
                    width: calc(100vw - 30px);
                    display: inline-block;
                }
            }
        }
    }
}
