@import "../helpers/variables.scss";

.icon1,
.icon2,
.icon3,
.icon4,
.icon5,
.icon6 {
  position: absolute;
  border-radius: 5px;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  will-change: transform;
  z-index: -2;
}

.icon1 {
  width: 5ch;
  height: 5ch;
  background-image: url("../../Img/background/icon/cercle2.png");
}

.icon2 {
  width: 5ch;
  height: 5ch;
  background-image: url("../../Img/background/icon/losange.png");
}

// .icon3 {
//   opacity: 0.9;
//   width: 5ch;
//   height: 5ch;
//   background-image: url("../../Img/background/icon/cercle.png");
// }

.icon4 {
  width: 5ch;
  height: 5ch;
  background-image: url("../../Img/background/icon/triangle.png");
}

.icon5 {
  width: 5ch;
  height: 5ch;
  background-image: url("../../Img/background/icon/losange.png");
}

.icon6 {
  width: 5ch;
  height: 5ch;
  background-image: url("../../Img/background/icon/triangle2.png");
}