@import "../helpers/_variables.scss";

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

*|*:-moz-any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

*|*:any-link {
    cursor: pointer !important;
    text-decoration: none !important;
}

img {
    max-width: 100%;
    margin: auto;
    display: block;
}

a,
button {
    cursor: pointer !important;
    border: none;
    text-decoration: none;
}

article,
aside,
details,
figcaption,
figure,
footer,
header,
hgroup,
menu,
nav,
section {
    display: block;
}

body {
    line-height: 1;
    overflow-x: hidden;
}

body::after {
    z-index: 99999;
    content: "PROD";
    font-family: 'Rubik', sans-serif;
    position: fixed;
    width: 80px;
    background: red;
    top: 7px;
    right: -20px;
    text-align: center;
    text-transform: uppercase;
    color: #fff;
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
    -moz-transform: rotate(45deg);
    -ms-transform: rotate(45deg);
    -o-transform: rotate(45deg);
}

ol,
ul {
    list-style: none;
}

blockquote,
q {
    quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
    content: '';
    content: none;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}