@import "../helpers/_variables.scss";
@import "./mixines.scss";

h1,
h2,
h3,
h4,
h5,
h6 {
    @include typoTitre ($XLsize, $medium, $black);
    margin-bottom: $V3;
}

p {
    @include typoTexte ($Ssize, $regular, $grey, 28px);
}